#############################################
# Configuration
#############################################

# Install with spack
USE_SPACK=OFF
COMPILER_TYPE=gcc
COMPILER_VERSION=11.5.0

# Versions of the libraries
CALIPER_VERSION=2.12.1
DEAL_II_VERSION=9.6.2

# deal.II cuda options
DEAL_II_WITH_CUDA=ON
CUDA_ARCH=89
